---
import Layout from '../layouts/Layout.astro';
import './../app.css';
import Hero from './_components/Hero.astro';
---

<!-- For HTML Go to src/pages/index.js</h1>
	 For CSS Go to src/app.css</h2>
	Run npm run build:css to output tailwind -->


<Layout title="Welcome to Astro.">
	<Hero/>
</Layout>


